#penguin {
	border-radius: 50%;
	border-style: double;
	border-color: violet;
	border-width: 2px 20px 2px 20px;
	max-height: 100%;
	max-width: 100%;
}

#main {
	text-align: center;
	margin: 0 auto;
	padding: 4.5% 0% 1.8%;
}

.naviBlock {
	height: 36px;
	text-align: center;
	position: relative;
}

.left a, .right a {
	position: fixed;
	width: 70px;
	top: 50%;
	height: 46px;
	display: block;
}
.left a:hover, .right a:hover {
	background-position: -70px 0px;
}

.right a { 
	right: 0px; 
	background: url("right-arrow.png");
}
.left a { 
	left: 0px; 
	background: url("left-arrow.png");
}

.center a {
	width: 36px;
	height: 35px;
	background: url("backtop.png");
	margin: 0 auto;
	display: block;
}
.center a:hover {
	background-position: 0px -36px;
}

body {
	background: url("purple.jpg") no-repeat;
	background-size: cover;
	margin: 0 auto;
	/* background-position: center; */
}
