#penguin {
	position: relative;
	border-radius: 50%;
	border-style: double;
	border-color: violet;
	border-width: 0px 12px 0px 12px;
	-webkit-transition: 0.5s ease-in;
}

.main {
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 70px;
}

body {
	background-image: url("purple.jpg");
	background-repeat: no-repeat;
}
